/* Central objects */
body {
  background-color: #FFEFE8;
  color: black;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1em;
  --link-color: #4394B2;
  /* --link-color: #7f0990, #004B48, #177E89, #69995D, #090C9B; */
  /* border-top: 2px solid gray; */
}

.main-column {
  max-width: 1000px;
  width: 95%;
  margin: auto;
  align-items: center;
  min-width: 625px;
}

.content {
  width: 90%;
  margin: auto;
}

.page-heading {
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.title {
  padding-top: 5px;
  font-size: 2.5em;
  color: rgb(44, 44, 43);
  font-weight: 200;
  margin: 0px;
}

/* For Reuse */
.menu {
  /* width: 75%; */
  margin: auto;
  padding-top: 10px;
}

.menu > ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}

.menu > ul > li {
  border-top: 2px solid #FFEFE8;
  padding-top: 5px;
}

.menu > ul > li:hover {
  border-top: 2px solid var(--link-color);
}

.menu > ul > li > a {
  text-decoration: none;
}

.subheading {
  font-size: 2em;
  font-weight: 400;
  padding-top: 32px;
  margin: 0;
  padding-bottom: 5px;
}

.note {
  padding-bottom: 8px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.img {
  max-width: 100%;
}

.bold-title {
  font-weight: bold;
}

.descrip {
  /*  */
}

.split-col-img {
  min-width: 100px;
  max-width: 100px;
  display: flex;
  align-items: center;
}

.split-col-content {
  padding-left: 15px;
}


/* Link color specifications */
a {
  color: var(--link-color);
}


/* Single Use */

.announcement {
  padding: 5px 10px;
  width: 70%;
  margin: auto;
  border: 3px black dashed;
  text-align: left;
  background: #FBDCD8;
}

.intro {
  display: flex;
  height: auto;
  flex-direction: row;
  padding-bottom: 8px;
  /* width: 75%; */
  margin: auto;
}

.headshot {
  width: 33%;
  max-width: 270px;
  padding-top: 43px;
  display: flex;
  align-items: center;
}

.self-descrip {
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 25px;
}

.personal-links > ul{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}




.pubs-list {
  /* width: 75%;
  margin: auto; */
  /* padding-top: 7px; */
}

.pub {
  padding-bottom: 8px;
}

/* .pub-title {
  font-weight: bold;
} */

/* .pub-authors {
  font-size: .9em;
} */





.proj-list {
  /* display: flex; */
  /* padding-top: 7px; 15px from the pubs list -8 because pubs have padding bottom */
}

/* .proj-title {
  font-weight: bold;
} */

.proj {
  display: flex;
  padding-bottom: 8px;
}




.other-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.other-obj {
  display: flex;
  /* min-width: 350px; */
  padding-bottom: 8px;
}

.other-img {
  min-width: 100px;
  max-width: 100px;

}

.other-text {
  padding-left: 15px;
} 

.courses-list {
  /*  */
}

.course {
  display: flex;
  padding-bottom: 8px;
}

/* .course-title {
  font-weight: bold;
} */




img {
  max-width: 100%;
}



@media (max-width: 600px) {
  .main-column {
    width: 90%;
    min-width: 325px;
  }

  .content {
    width: 100%;
  }

  .intro {
    flex-direction: column;
  }

  .headshot {
    width: 100%;
    padding-top: 15px;
    align-self: center;
  }

  .self-descrip {
    width: 100%;
    padding-left: 0px;
  }

}