body {
  background-color: #efefef;
  color: black;
  font-weight: 500;
  text-align: center;
  --link-color: #568d9f; /*46bfb7 */
  --secondary-color: #8F3D7E;/*#60c6bf;
  /* --link-color: #7f0990, #004B48, #177E89, #69995D, #090C9B; */
  /* border-top: 2px solid gray; */
}

.title {
  color: var(--secondary-color);
  font-weight: 500;
}

.subheading {
  color: var(--secondary-color);
}

.subsubheading {
  color: var(--secondary-color);
}

iframe {
  width: 807px;
  height: 600px;
  border: none;
}

.other-img img {
  border-radius: 12px;
}