body {
  background-color: #030E17DE;
  color: white;
  font-weight: 500;
  text-align: center;
  --link-color: #60c6bf; /*46bfb7 */
  --secondary-color: #f96d60;/*#60c6bf;
  /* --link-color: #7f0990, #004B48, #177E89, #69995D, #090C9B; */
  /* border-top: 2px solid gray; */
}

.title {
  color: #f96d60;
  font-weight: 700;
}

.subheading {
  color: var(--secondary-color);
}

.subsubheading {
  color: var(--secondary-color);
  padding-top: 25px;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}


.instructor-info {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  text-align: left;
}

.instructor {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  width: 385px;
}

.instructor-text {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

.faq-body {
  text-align: left;
}

iframe {
  width: 90%;
  max-width: 640px;
  height: 80vw;
  max-height: 800px;
  margin-bottom: 30px;
}

