#body {
  margin: 15px;
  display: flex;
}

#image-section{
  margin-left: 15px;
}

.header-container{
  position: relative;
  text-align: center;
}

.subsubheading {
  padding-top: 25px;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.instructor-info {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  text-align: left;
  gap: 5%;
}

.instructor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 45%;
  min-width: 400px;
}

.instructor-text {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}

.faq-body {
  text-align: left;
}

iframe {
  width: 90%;
  max-width: 100%;
  height: 80vw;
  max-height: 800px;
  margin-bottom: 30px;
}


@media (max-width: 600px) {
  .menu {
    border-bottom: 0px;
    border-top: 0px;
  }

  .menu > ul {
    flex-direction: row;
  }
}